body {
    background-color:#BAD3E4;
    font-family: Helvetica, Verdana, Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    color: #B24968;
    font-family: Verdana, Sans-Serif;
}

p {
    margin-bottom: 20px;
    line-height: 1.6em;
    font-family: Georgia, Helvetica, Verdana, Sans-Serif;
}

ul a {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 24px;
    list-style-position: inside;	
}

li {
    font-weight:bolder;
    margin-bottom: 10px;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

.center{
    text-align: center
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.header{    
	background-image: url("images/footer.png");
	position:absolute;
   	 height: 200px;
   	 top: 0px;
   	 left: 0px;
   	 width: 100%;
 }

.footer{
width:100%;
position:fixed;
bottom:0;
height:125px;
background-image: url("footer.PNG");

}
