body {
    background-color:#BAD3E4;
    font-family: Helvetica, Verdana, Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    color: #B24968;
    font-family: Verdana, Sans-Serif;
}

p {
    margin-bottom: 20px;
    line-height: 1.6em;
    font-family: Georgia, Helvetica, Verdana, Sans-Serif;
}

ul {
    font-weight: bold;
    list-style-position: inside;
    display: inline
}


li {
    font-weight:lighter;
    margin-bottom: 20px;
    display: inline
}

a {
    font-weight: bold;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}


#img {
    width: 100%;
    height: auto;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
 
.header {
    overflow: hidden;
    background-color: #7dbae3;
    padding: 20px 10px;
 }

.center{
    text-align: center
}

.footer{
width:100%;
position:fixed;
bottom:0;
height:125px;
background-color: #7dbae3;

}
